* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.btn {
  border: 1px solid transparent;
  background-color: #fd6e0a;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 36px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  color: #fd6e0a;
  background: transparent;
  border: 1px solid #fd6e0a;
}

.description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
}

/* Header Style Start */
header {
  background: #fff8f3;
  background-image: url(./images/header_bg.png), url(./images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left 60px top 40px;
}
nav {
  padding: 50px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 50px;
  align-items: center;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}

.brand {
  font-size: 45px;
  font-weight: 800;
}

.brand span {
  color: #fd6e0a;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin: 30px 40px 0 230px;
  align-items: center;
}

.banner__text h2 {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin: 0px;
}

.banner__text h1 {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin: 0px;
}

.banner__text p {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 585px;
}

.outlineBtn {
  border: 1px solid #fd6e0a;
  background: transparent;
  color: #fd6e0a;
  margin-left: 30px;
}
.outlineBtn:hover {
  color: white;
  background: #fd6e0a;
}
.banner__img {
  width: 585px;
}
.banner__img img {
  max-width: 100%;
  vertical-align: bottom;
}
